<p>The spacebar has been pressed
    <%= @SpaceBarEventCount %> times today.</p>
<p>The button has been clicked
    <%= @ButtonClickEventCount%>
    times today.
</p>
<p>The color of the box has been changed
    <%= @BoxRecolorEventCount %>
    times today
</p>
<%= link_to "Home", root_url %>