<p>The spacebar has been pressed
    <%= @SpaceBarEventCount %> times today while on the home page</p>
<p>The button has been clicked
    <%= @ButtonClickEventCount%>
    times today while on the home page
</p>