// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
    font-family: Arial, Helvetica, sans-serif
}
#color_changing_box {
    height: 50px;
    width: 50px;
}

#display_example_color {
    display: inline-block;
    height: 15px;
    width: 15px;
}
.color_changer_wrapper form  {
    margin-bottom: 2rem;
}

#color_changer_buttons_wrapper {
    margin: 2rem 0rem 1rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}
#color_changer_buttons_wrapper {
    margin-right: 1rem;
}
.color_changer {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: black;
}
